<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .sidebar {
            height: 100vh;
            background: #343a40;
            color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            transition: all 0.3s;
        }
        .sidebar .nav-link {
            color: #fff;
            padding: 15px 20px;
            display: block;
            transition: background 0.3s;
        }
        .sidebar .nav-link:hover {
            background: #495057;
            text-decoration: none;
        }
        .sidebar .nav-logo {
            font-size: 24px;
            padding: 20px;
            text-align: center;
            border-bottom: 1px solid #495057;
        }
        .content {
            margin-left: 250px;
            padding: 20px;
        }
        .card {
            border-radius: 10px;
        }
        .chart-container {
            margin-top: 30px;
        }
        .modal-content {
            border-radius: 10px;
        }
        .modal-header {
            border-bottom: 1px solid #dee2e6;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <div class="nav-logo">
            <i class='bx bx-layer'></i> Shop
        </div>
        <nav class="nav flex-column">
            <a href="{% url 'adminside:dashboard' %}" class="nav-link active"><i class='bx bx-grid-alt'></i> Dashboard</a>
            <a href="{% url 'salesreport:salesReport' %}" class="nav-link sales-link"><i class='bx bx-line-chart'></i> Sales</a>

            <a href="{% url 'usermanagement:usermanagement' %}" class="nav-link"><i class='bx bx-user'></i> Users</a>
            <a href="{% url 'products:products' %}" class="nav-link"><i class='bx bx-message-square-detail'></i> Products</a>
            <a href="{% url 'category:categorymanagement' %}" class="nav-link"><i class='bx bx-bookmark'></i> Categories</a>
            <a href="{% url 'ordermanagement:order_management' %}" class="nav-link"><i class='bx bx-cart'></i> Orders</a>
            <a href="{% url 'offermanagement:offermanagement' %}" class="nav-link"><i class='bx bx-gift'></i> Offers</a>
            <a href="{% url 'couponmanagement:coupon' %}" class="nav-link {% if request.resolver_match.url_name == 'coupon' %}active{% endif %}"><i class='bx bx-tag'></i> Coupons</a>
            <a href="{% url 'adminside:logout_view' %}" class="nav-link"><i class='bx bx-log-out'></i> Logout</a>
        </nav>
    </div>

    <div class="content">
        <header class="d-flex justify-content-between align-items-center mb-4">
            <h1>Dashboard</h1>
            <div class="date-container">
                <h2>{{ date }}</h2>
            </div>
        </header>

        {% if messages %}
        <div class="alert alert-success mt-3">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-3">
                <div class="card bg-primary text-white mb-3">
                    <div class="card-body">
                        <h3 class="card-title">₹{{ thismonth.sum }}</h3>
                        <p class="card-text">This month sales</p>
                        <p>{{ date }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-success text-white mb-3">
                    <div class="card-body">
                        <h3 class="card-title">₹{{ today.sum }}</h3>
                        <p class="card-text">Daily sales</p>
                        <p>{{ date }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-info text-white mb-3">
                    <div class="card-body">
                        <h3 class="card-title">₹{{ thisyear.sum }}</h3>
                        <p class="card-text">Yearly sales {{cash_delevery}},{{wallet_delevery}},{{razor_delevery}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-warning text-white mb-3">
                    <div class="card-body">
                        <h3 class="card-title">₹{{ thisweek.sum }}</h3>
                        <p class="card-text">Weekly sales</p>
                    </div>
                </div>
            </div>
        </div>
       <div style="display:flex;justify-content:space-around ">
        <div class="chart-container" style="width:60%">
        <h2>Monthly Sales</h2>

            <canvas id="monthlySalesChart" width="400" height="200"></canvas>
        </div>

        <div class="chart-container" style="width:30% ">
        <h4 class="mt-5">Daily Sales Report:</h4>

            <canvas id="dailySalesChart" width="100" height="100"></canvas>
        </div>
    </div>
    <div style="display:flex">
    <div style="width:30%">
        <h2>Most Selling Three Products</h2>
        <Canvas id="MostProduct" width="100" height="100"></canvas>
    </div>
    <div style="width:30%">
        <h2>Most Selling Three category</h2>
        <Canvas id="MostCategory" width="100" height="100"></canvas>
    </div>
</div>
        <h3 class="mt-5">Filter Sales Report</h3>
        <form method="POST" action="/salesreport/">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="date1" class="form-label">Start Date:</label>
                        <input type="date" id="date1" name="date1" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="date2" class="form-label">End Date:</label>
                        <input type="date" id="date2" name="date2" class="form-control" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <!-- Logout Modal -->
        <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{% url 'adminside:logout_view' %}" method="POST">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="logoutModalLabel">Logout</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to logout?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="application/json" id="sales-data">
        {
            "cash_delevery": {{ cash_delevery }},
            "wallet_delevery": {{ wallet_delevery }},
            "razor_delevery": {{ razor_delevery }}
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            // Monthly Sales Bar Chart
            var monthlySalesCtx = document.getElementById('monthlySalesChart').getContext('2d');
            var monthlySalesChart = new Chart(monthlySalesCtx, {
                type: 'bar',
                data: {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: 'Monthly Sales',
                        data: [{{ jan.sum }}, {{ feb.sum }}, {{ mar.sum }}, {{ apr.sum }}, {{ may.sum }}, {{ june.sum }}, {{ july.sum }}, {{ aug.sum }}, {{ sep.sum }}, {{ oct.sum }}, {{ nov.sum }}, {{ dec.sum }}],
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            var salesData = JSON.parse(document.getElementById('sales-data').textContent);

            // Daily Sales Line Chart
            var dailySalesCtx = document.getElementById('dailySalesChart').getContext('2d');
            var dailySalesChart = new Chart(dailySalesCtx, {
                type: 'bar',
                data: {
                    labels: ["cashOndelevery","wallet","razorpay"],
                    datasets: [{
                        label: 'Daily Sales',
                        data: [salesData.cash_delevery, salesData.wallet_delevery, salesData.razor_delevery],
                        backgroundColor: 'skyblue',
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 1,
                        fill: true
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>

    <script>
        
            // Daily Sales Line Chart
            var dailySalesCtx = document.getElementById('MostProduct').getContext('2d');
            var dailySalesChart = new Chart(dailySalesCtx, {
                type: 'pie',
                data: {
                    labels: ['{{product1}}','{{product2}}','{{product3}}'],
                    datasets: [{
                        label: 'Daily Sales',
                        data: [{{product1_id}},{{product2_id}},{{product3_id}}],
                        backgroundColor: ['#3498db', '#1abc9c', '#9b59b6'], // Blue, Green, Purple
                        borderColor: ['#2980b9', '#16a085', '#8e44ad'] ,
                        borderWidth: 1,
                        fill: true
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        
    </script>

    <script>
        
        // Daily Sales Line Chart
        var dailySalesCtx = document.getElementById('MostCategory').getContext('2d');
        var dailySalesChart = new Chart(dailySalesCtx, {
            type: 'pie',
            data: {
                labels: ['{{category1}}','{{category2}}','{{category3}}'],
                datasets: [{
                    label: 'Daily Sales',
                    data: [{{category1_count}},{{category2_count}},{{category3_count}}],
                    backgroundColor: ['#3498db', '#1abc9c', '#9b59b6'], // Blue, Green, Purple
                    borderColor: ['#2980b9', '#16a085', '#8e44ad'] ,
                    borderWidth: 1,
                    fill: true
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    
</script>
 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9H+B70z+ylEKupRoHCECT43tMMPvkk5lujF+aj9j8Z2Vd2uDiJ1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-oBqDVmMz4fnFO9H+B70z+ylEKupRoHCECT43tMMPvkk5lujF+aj9j8Z2Vd2uDiJ1" crossorigin="anonymous"></script>
</body>
</html>
